table {
  width: 100%;
}

td {
  vertical-align: center;
  horiz-align: center;
  border-right: 1px solid rgba(0,0,0,.12);
  padding-left: 16px !important;
  padding-top: 14px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.green {
  background: greenyellow;
}
