<div class="lesson-edit">
  <h1>{{title}}</h1>

  <p *ngIf="this.id && !lesson"><em>Loading...</em></p>

  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <!--<div *ngIf="form.invalid"
         class="alert alert-danger">
      <strong>ERROR</strong>:
      A city with the same <i>name</i> and <i>country</i> already exists.
    </div>-->

    <div class="form-group">
      <label for="name">Lesson name:</label>
      <br />
      <input type="text" id="name"
             formControlName="name" required
             placeholder="Lesson name..."
             class="form-control"
      />

      <div *ngIf="hasError('name')"
           class="invalid-feedback">
        <div *ngIf="form.get('name').errors?.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group commands">
      <button *ngIf="id" type="submit"
              (click)="onSubmit()"
              [disabled]="form.invalid"
              class="btn btn-success">
        Save
      </button>
      <button *ngIf="!id" type="submit"
              (click)="onSubmit()"
              [disabled]="form.invalid"
              class="btn btn-success">
        Create
      </button>
      <button type="button"
              [routerLink]="['/lessons']"
              class="btn">
        Cancel
      </button>
    </div>
  </div>
</div>

