<h1>Weeks type</h1>

<p>Here's a list of countries: feel free to play with it.</p>

<p *ngIf="!daysWeek"><em>Loading...</em></p>

<div class="commands text-right" *ngIf="daysWeek">
  <button type="button"
          [routerLink]="['/daysweek']"
          class="btn btn-success">
    Add a new weeksType
  </button>
</div>

<mat-form-field [hidden]="!daysWeek">
  <label>
    <input matInput (keyup)="loadData($event.target.value)"
           placeholder="Filter by name (or part of it)...">
  </label>
</mat-form-field>

<table mat-table [dataSource]="daysWeek" class="mat-elevation-z8" [hidden]="!daysWeek"
       matSort (matSortChange)="loadData()"
       matSortActive="{{defaultSortColumn}}" matSortDirection="{{defaultSortOrder}}">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let daysWeek"> {{daysWeek.id}} </td>
  </ng-container>

  <!-- Day Column -->
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
    <td mat-cell *matCellDef="let daysWeek">
      <a [routerLink]="['/daysweek', daysWeek.id]">{{daysWeek.day}}</a>
    </td>
  </ng-container>

   <!--Lesson Column-->
  <!--<ng-container matColumnDef="lesson">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>lesson</th>
    &lt;!&ndash;<td mat-cell *matCellDef="let daysWeek">
      &lt;!&ndash;<a [routerLink]="['/daysweek', daysWeek.id]">{{daysWeek.day}}</a>&ndash;&gt;
    </td>&ndash;&gt;
    <td mat-cell *matCellDef="let daysWeek" >
      <ng-container *ngFor="let lesson of daysWeek.lessons">
        {{lesson.name}}
        {{lesson.auditory}}
      </ng-container>
    </td>
  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Pagination directive -->
<mat-paginator [hidden]="!daysWeek"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons></mat-paginator>
